<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GestureLockDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>782C0EA41E94800900BAE68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782C0EBD1E94800A00BAE68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>782C0EC81E94800A00BAE68F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
